::breadcrumbs::

<h1>::myClass.name::</h1>

<div>::myClass.doc::</div>

<div>
	<p>Is private: ::myClass.isPrivate::</p>
	<p>Is interface: ::myClass.isInterface::</p>
	<p>Is extern: ::myClass.isExtern::</p>
	<p>Available: ::myClass.platforms::</p>
	<p>Module: ::myClass.module::</p>
</div>

<div id="classContent">
	
	::if (myClass.statics.length > 0)::
	
	<h2>Static fields</h2>
	
	<div>
		
		::foreach myClass.statics::	
			<div>
			<div><strong>::name::</strong>( ::if (args):: ::foreach args:: ::if (optional):: ? ::end:: ::name:: : ::type::,  ::end:: ::end:: ) : ::ret::</div>
			<div>::doc::</div>
			</div>
		::end::
		
	</div>
	
	::end::
	
</div>